
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-magic" aria-hidden="true"></i>
                <div class="ms-3">
                    <p class="mb-2">En fazla ilanı olan Şehir</p>
                    <h6 class="mb-0">@ViewBag.cityNameByMaxProductCounts</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <div class="ms-3">
                    <p class="mb-2">En Başarılı Çalışan</p>
                    <h6 class="mb-0">@ViewBag.employeeNameByMaxProductCounts </h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-magic" aria-hidden="true"></i>
                <div class="ms-3">
                    <p class="mb-2">Şehir Sayısı</p>
                    <h6 class="mb-0">@ViewBag.DifferentCityCounts</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-magic" aria-hidden="true"></i>
                <div class="ms-3">
                    <p class="mb-2">ilan sayısı </p>
                    <h6 class="mb-0">@ViewBag.productCounts </h6>
                </div>
            </div>
        </div>
    </div>
</div> 